<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
  <section class="banner text-light d-flex justify-content-center align-items-center">
      <div class="text-center">
            <h1 class="font-weight-bold">Smart Contact Manager</h1>
            <p>Empower your connections, elevate your relationships. Our contact managing web app:
                Where organization meets simplicity, and networking becomes second nature.</p>
            <button class="btn btn-primary">Lets Start</button>
      </div>
  </section>
</body>
</html>